---
import Humburger from "./Humburger.astro"
import Navigation from "./Navigation.astro"
import ThemeIcone from "./ThemeIcone.astro"
---

<header>
  <nav>
    <Humburger />
    <ThemeIcone />
    <Navigation />
  </nav>
</header>
